@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600&display=swap");
}

* {
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.wrap {
    margin:auto;
    height:1080px;
}

.page1 {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

nav{
    width:1920px;
    height:100px;
    margin:0 auto; 
    background-color: rgb(14, 14, 14);
    position: relative;
}

nav ul {
    width:1100px;
    height:110px;
    margin:0 auto;
}

nav li {
    float:left;
    position:relative;
    top:45px;
}

nav ul a {
    font-size:20px;
    color:white;
    margin:0 40px;
    font-weight: 600;
}

nav ul a:hover {
    color:#ff0000;
    font-size:25px;
}

nav ul img {
    position:relative;
    width:5px;
    bottom:5px;
}

.logo {
    position:relative;
    float:right;
    right:410px;
    width:120px;
    bottom:110px;
}

.logo img {
    width:120px;
}

section{
    width: 1920px;
    height: 880px;
    background-image: url(imgs/background.jpg);
    margin:0 auto;
}
section ul{
    width: 1100px;
    height: 880px;
    margin: 0 auto;
}

section ul li {
    font-size:150px;
    color:white;
    line-height: 160px;
    font-weight: 600;
    top:450px;
    position:relative;
    font-family: 'Roboto Slab', serif;
}

section span {
    font-size: 200px;
    
}

.footer{
    position:relative;
    height:100px;
    width:1920px;
    background-color: rgb(20, 20, 20);
    margin:0 auto;
}

.footer img {
    position:absolute;
    width:70px;
    left:430px;
}

.footer span {
    color: white;
    float:right;
    margin:40px 430px 0px 0px;
}



